/* 
	Table of Contents
	update on Thu Aug 18 2016 19:36:35 GMT-0500 (CDT)

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Visible ----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	         Visible Mobile ---------------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Header -----------------------------------
	     04. Main -------------------------------------
	     05. Shell ------------------------------------
	     06. Sidebar ----------------------------------
	     07. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Button -----------------------------------
	         Button Block -----------------------------
	     02. Form Elements ----------------------------
	     03. Form -------------------------------------
	     04. Intro ------------------------------------
	     05. List -------------------------------------
	     06. List Logos -------------------------------
	     07. Logo -------------------------------------
	     08. Nav --------------------------------------
	     09. Section About ----------------------------
	     10. Section Logos ----------------------------
	     11. Section Parallax -------------------------
	     12. Section Timeline -------------------------
	     13. Slider -----------------------------------
	     14. Slider About -----------------------------
	     15. Slider Info ------------------------------
	     16. Slider Timeline --------------------------
	     17. Socials ----------------------------------
	     18. Table ------------------------------------
	     19. Widget -----------------------------------
 */

.close { background-image: url(../css/images/sprite.png); background-position: -162px -69px; width: 16px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-behance { background-image: url(../css/images/sprite.png); background-position: -204px -44px; width: 22px; height: 14px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook { background-image: url(../css/images/sprite.png); background-position: 0 -104px; width: 10px; height: 21px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-instagram { background-image: url(../css/images/sprite.png); background-position: -104px -44px; width: 20px; height: 21px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-linkedin { background-image: url(../css/images/sprite.png); background-position: -140px -69px; width: 18px; height: 17px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-logo { background-image: url(../css/images/sprite.png); background-position: 0 0; width: 100px; height: 100px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-next { background-image: url(../css/images/sprite.png); background-position: -104px -69px; width: 14px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-prev { background-image: url(../css/images/sprite.png); background-position: -122px -69px; width: 14px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter-grey { background-image: url(../css/images/sprite.png); background-position: -153px -44px; width: 21px; height: 19px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter { background-image: url(../css/images/sprite.png); background-position: -128px -44px; width: 21px; height: 19px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-youtube { background-image: url(../css/images/sprite.png); background-position: -178px -44px; width: 22px; height: 15px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo { background-image: url(../css/images/sprite.png); background-position: -104px 0; width: 130px; height: 40px; display: inline-block; vertical-align: middle; font-size: 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.close { background-image: url(../css/images/sprite.@2x.png); background-position: -118px 0; background-size: 133.5px 100px; width: 15.5px; height: 15.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-logo { background-image: url(../css/images/sprite.@2x.png); background-position: 0 0; background-size: 133.5px 100px; width: 100px; height: 100px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-next { background-image: url(../css/images/sprite.@2x.png); background-position: -102px 0; background-size: 133.5px 100px; width: 14px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-prev { background-image: url(../css/images/sprite.@2x.png); background-position: -102px -29px; background-size: 133.5px 100px; width: 14px; height: 27px; display: inline-block; vertical-align: middle; font-size: 0; }
}

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main { display: block; }

html,
body { height: 100%; }

html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }
img, iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { display: none; -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #fff; font-family: 'proxima-nova', sans-serif; font-size: 13px; line-height: 1.3; color: #b8b8b8; }

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

a[href^="tel"] { text-decoration: none; }

h1 { font-size: 28px; letter-spacing: 0.19em; }
h2 { font-size: 22px; }
h3 { font-size: 17px; letter-spacing: 0.185em; }
h4 { font-size: 15px; }
h5 { font-size: 14px; }
h6 { font-size: 13px; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.65em; font-family: 'Shonar Bangla', 'Times', serif; font-weight: 600; }

p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.3em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

@media (max-width: 767px) {
	base { font-size: 10px; }

	h1 { font-size: 20px; }
	h2 { font-size: 18px; }
	h3 { font-size: 17px; }
	h4 { font-size: 16px; }
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: "Shonar Bangla";
	src: url("fonts/ShonarBangla_700_normal_1456742521.eot");
	src: url("fonts/ShonarBangla_700_normal_1456742521.eot?#iefix") format("embedded-opentype"),
		url("fonts/ShonarBangla_700_normal_1456742521.svg#ShonarBangla") format("svg"),
		url("fonts/ShonarBangla_700_normal_1456742521.woff") format("woff"),
		url("fonts/ShonarBangla_700_normal_1456742521.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Shonar Bangla";
	src: url("fonts/ShonarBangla_400_normal_1456742521.eot");
	src: url("fonts/ShonarBangla_400_normal_1456742521.eot?#iefix") format("embedded-opentype"),
		url("fonts/ShonarBangla_400_normal_1456742521.svg#ShonarBangla") format("svg"),
		url("fonts/ShonarBangla_400_normal_1456742521.woff") format("woff"),
		url("fonts/ShonarBangla_400_normal_1456742521.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('fonts/din-regular-webfont.eot');
    src: url('fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-regular-webfont.woff') format('woff'),
         url('fonts/din-regular-webfont.ttf') format('truetype'),
         url('fonts/din-regular-webfont.svg#dinregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after { content: ''; line-height: 0; display: table; clear: both; }


/*  Notext  */

.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }


/*  Hidden  */

[hidden],
.hidden { display: none!important; }

/*  Visible  */

[visible],
.visible { display: block!important; }


/*  Alignleft  */

.alignleft { float: left; }


/*  Alignright  */

.alignright { float: right; }


/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/* Visible Mobile */

@media ( min-width: 768px ) {
	.visible-mobile { display: none !important; }
}

/* hidden Mobile */

@media ( max-width: 768px ) {
	.hidden-mobile { display: none !important; }
}

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container {}

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {}
.video-wrap{position: relative; width: 100%; height:100%;margin-top: 56px;background: #000000; text-align: center;line-height: 0;}
.video-wrap video{width: 100%; height: 100%;}
.video-overlay{background: rgba(0,0,0,.5); position: absolute; width: 100%;height: 100%;}
.full-video{position: absolute;}
.play-button{position: absolute;height: 150px;top: 0;bottom: 0;left: 0;right: 0;margin: auto;display: block;z-index: 2; font-size: 1rem;line-height: 1rem;color: #ffffff;}
.play-button strong{display:block ;font-family:'Shonar Bangla', 'Times', serif; font-weight: 100;letter-spacing: 0.5rem; font-size:3.5rem ; line-height: 3.5rem;}
.play-button .watch-video{cursor: pointer; display: inline-block; margin: 30px auto; border:1px solid #ffffff; padding: 10px 20px;text-transform: uppercase;font-size: 100;letter-spacing: 2px;}
.anchor{display: none; height: 0;}

.video-overlay h1 {
  position: relative;
  top: 40%;
  font-size: 3.5em;
  font-weight: 300;
  color: white;
  height: auto;
}

.play-button-circle {
  cursor: pointer;
  z-index: 9999;
  position: relative;
  opacity: 0.6;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  left: 48%;
  -webkit-transform: translateY(-50%) scale(2.0);
      -ms-transform: translateY(-50%) scale(2.0);
          transform: translateY(-50%) scale(2.0);
  top: 50%;
}

.play-button-circle:hover {
  opacity: 1;
}

.play-button-triangle-container {
  width: 20px;
  height: 20px;
  position: relative;
  border-left: 1px solid #fff;
  overflow: hidden;
  top: 10px;
  left: 17px;
  -webkit-transform: scale(1.2,0.9);
      -ms-transform: scale(1.2,0.9);
          transform: scale(1.2,0.9);
}

.play-button-triangle-inner {
  width: 20px;
  height: 20px;
  border-style: solid;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 1px 1px 0 0;
  position:absolute;
  left: -14px;
  border-color: #fff;
}

span.aura-updates {
  text-decoration: underline;
  font-family: 'Shonar Bangla', 'Times', serif;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  color: black;
  cursor: pointer;
}

.make-smoking-beautiful p {
  color: black;
  font-size: 1.4em;
  max-width: 330px;
}

.make-smoking-beautiful h1 {
  color: black;
  font-size: 3.9rem;
  letter-spacing: 0.05em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.make-smoking-beautiful h2 {
  color: black;
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: 0.05em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.make-smoking-beautiful .image {
  width: 49%;
  float: left;
}

.make-smoking-beautiful .image img {
  min-height: 500px;
  display:block !important;
  margin: 0 auto;
  height: 80vh;
}

.make-smoking-beautiful .content {
  width: 49%;
  float: right;
  position: relative;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: 40vh;
}


section.section-about {
  background-color: #F6F6F7;
  box-shadow: inset 100px 0 100px #dbdbdb;
}

@media (max-width: 600px){
  .video-overlay h1 {
    font-size: 2rem;
  }
}

@media (max-width: 380px){
  .video-overlay h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 767px){
	.play-button strong{font-size: 2rem;line-height: 1.8rem;}
    .video-wrap{margin-top: 39px;}

  .make-smoking-beautiful h1 {
    text-align: center;
  }

  .make-smoking-beautiful h2 {
    text-align: center;
    padding-top: 30px;
  }

  .make-smoking-beautiful .image {
    width: 100%;
    float: left;
  }

  .make-smoking-beautiful .content {
    width: 100%;
    float: left;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-top: 0px;
  }

  .make-smoking-beautiful .wrapper {
    width: 100%;
  }

  .make-smoking-beautiful p {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .make-smoking-beautiful h1 {
    font-size: 3.3rem;
  }

  .make-smoking-beautiful h2 {
    font-size: 2.2rem;
  }

  .play-button-circle {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 45%;
  }

  .video-overlay h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

/gh)* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 30px 0; border-top: 2px solid #c6c6c6; text-align: center; }

.footer-nav { margin-bottom: 10px; }
.footer-nav ul { display: inline-block; overflow: hidden; line-height: 1; }
.footer-nav li { float: left; }
.footer-nav li ~ li { padding-left: 15px; border-left: 1px solid #666; margin-left: 15px; }
.footer-nav a { font-family: 'Shonar Bangla', 'Times', serif; font-weight: 400; font-size: 14px; letter-spacing: .1em }

.footer .copyright {
  color: black;
  letter-spacing: 0.1em;
  font-family: 'Shonar Bangla', 'Times', serif;
}

.footer .copyright, .footer .socials {
  text-align:center;
}

@media (max-width: 767px){
	.footer-nav li ~ li{
		padding-left:8px;
		margin-left: 8px;
	}
	.footer .socials li ~ li{
		margin-left: 20px;
	}
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: fixed; top:0px; left: 0; z-index: 10; width: 100%; height: 56px; border-bottom: 1px solid #d9d9d9; background: #fff; color: #515151; text-align: center; }
.header .logo { position: absolute;  left: 60px; top:9px;}
.header .mobile-email{display: none;}
.header .btn{padding: 12px 0;}


@media (max-width: 1023px) {
	.header .logo { left: 20px; }
	/* .header .desktop-email{position: relative;left: -90px;} */
}

@media (max-width: 767px) {
	.header { height: 39px; padding-top: 10px; }
	.header .logo { left: 9px; top: 5px;  -webkit-transform-origin: 0 0;  -ms-transform-origin: 0 0;  transform-origin: 0 0; -webkit-transform: scale(.8); -ms-transform: scale(.8); transform: scale(.8); }
	.header .desktop-email{display: none;}
	.header .mobile-email{display: inline-block;position: absolute;bottom: 10px;left: 10px;right: 10px;}
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main {}

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: 80%; margin: auto; padding: 40px 12px;overflow: hidden; }

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar {}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {}

/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
  border-width: 3.125px;
  border-color: rgb(112, 112, 112);
.btn-primary { padding: 8px 20px 8px; border: 1px solid rgb(112,112,112); font-family: 'proxima-nova', sans-serif; font-size: 18px; line-height:18px; letter-spacing: 0.1em; font-weight: 400; }
.btn-primary:hover { text-decoration: none; }

.btn .email-form input { border:none; }
.btn .email-form > fieldset {
  border: 1.25px solid rgb(112,112,112);
  box-shadow: 0px 0px 1.5px 0px rgba(0,0,0,0.25);
}

.btn .email-form input{
  background-color: #fff;
  font-size: 1rem;
  padding:5px 20px 5px;
  color: rgb(112, 112, 112);
  letter-spacing: 0.1rem;
}

.btn .email-form .email-btn {
  font-size: 1.2rem;
  font-family: 'Shonar Bangla', 'Times', serif;
  -webkit-appearance:none;
  border-radius:0;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  border: none;
  width: 40%;
}

.btn .email-form .email-btn:hover {
  background-color: #F6F6F7;
}

.btn .email-form .email-text{
  -webkit-appearance:none;
  border-radius: 0;
  border-style: solid;
  border-color: rgb(112,112,112);
  border-width: 0 1.25px 0 0;
  float: left;
  width: 60%;
  font-weight: 300;
}

/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }

@media (max-width: 1023px) {

}


@media (max-width: 767px) {

}

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::-webkit-input-placeholder { color: inherit; opacity: 1; }

input::-moz-placeholder { color: inherit; opacity: 1; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.field {}
.textarea {}
.select {}
.radio {}
.checkbox {}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {position: fixed;width: 100%; height: 100%;z-index: 10000; background: rgba(0,0,0 ,.80); text-align: center; font-size: 14px; color: #ffffff;}
.form ul{list-style: none;}
.form .entr-box{font-weight: 400;}

.form .entr-box li{display: inline-block;margin: 20px 5px 10px;}
.form .entr-box li a{border:1px solid #ffffff; background-color: #1b1b1b;padding: 5px 20px;text-transform: uppercase; }




.form .form_box{ background: rgba(0,0,0 ,.5);position: absolute; top: 25%; width: auto; height: 300px; border: 1px solid #ffffff;left: 35%; right: 35%;padding:  40px 20px; font-weight: 100;}
.form .age .no-notice{margin: 45px 0; position: absolute;left: 0;right: 0;}
.form .age span{display:block;}
.form .age strong{font-size: 54px;font-family:'Shonar Bangla', 'Times', serif;font-weight: 100; }
.form .no-notice{display: none;}
.form .entr-no:hover .no-notice{display: block;}


.form .email{
	position: relative;
	margin: 0 auto;
	outline:4px solid #a4886f;
	position: fixed;
	top: 150px;
	width: 500px;
	background-color: #ffffff;
	left: 0;
	right: 0;
	padding: 40px 100px;
	color: #000000;
	font-size: 1.1rem;
}

.form .email .close{
	/* width: 20px; */
	/* height: 20px; */
	/* background-image: url(../css/images/sprite/close.png); */
	/* background-size: cover; */
	position: absolute;
	top: 25px;
	right: 25px;
	cursor:pointer;
}

.form .email img{
	width: 64px;
	height: 64px;
	display: block;
	margin: 0 auto 40px;
}

.form .email strong{
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	line-height: 2.5rem;
}
.form .email span{
	display: block;
}
.form .email .img-email{
	margin: 40px 0 ;
	width: 100%;
	height: auto;
}
@media (max-width: 767px){
	.form .email{width: 80%; padding: 40px 20px;top: 50px;}
	.form .form_box{left: 20%;right: 20%;}
	.form .preord{padding: 40px 15px;}
	.form .email img{margin: 0 auto 10px;}

}

@media (max-width: 479px){
	.form .form_box{left: 10px;right: 10px;}
	.form .preord{padding: 40px 10px;}
}


 @media (max-width: 1024px){
	.form .preord{padding: 40px 20px;}
 }

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { position: relative;min-height:100vh;overflow: hidden; }
.intro-image { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-position: center center; background-repeat: no-repeat; background-size: cover; }

.intro-content {
  position: absolute;
  padding-top: 40px;
  z-index: 2;
  color: #d0d0d0;
  text-align: center;
  top: 26%;
  display: table;
  margin-left: 10%;
  font-size: 1rem;
  max-width: 320px;
  text-align: left;
}
.intro-content h1 {
  font-family: 'Shonar Bangla', 'Times', serif;
  font-size: 6rem;
  letter-spacing: .04em;
  line-height: 2.5rem;
  margin-bottom: 20px;
  font-weight: 100;
}
.intro-content p {
  font-size: 1.5rem;
  font-weight: 100;
}
.intro-content .text span{
  font-weight: 100;
}

.intro-content .btn{
  margin: 30px 0 0;
}
.intro-content .sub-head{
  display: block;
  color: #a5886d;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 3px;
}
@media (max-width: 1024px){
    .intro {min-height: 768px;height: 768px;}
}

@media (max-width: 1023px){

}

@media (max-width: 767px) {
	.intro-content { padding: 20px 0 30px; }
  .intro {min-height: 480px;}
  .intro .btn .email-form {width: 91%; }
}

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Logos
\* ------------------------------------------------------------ */

.list-logos { font-size: 0; }
.list-logos li { display: inline-block; vertical-align: middle; width: 20%; text-align: center; }
.list-logos img { max-width: 90%; }

@media (max-width: 767px) {
	.list-logos { text-align: center; }

}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { position: absolute; top: 15px; right: 59px; }
.nav ul { overflow: hidden; }
.nav li { float: left; }
.nav li ~ li { margin-left: 30px; }
.nav a { font-family: 'Shonar Bangla', 'Times', serif; font-size: 18px; letter-spacing: 0.1em; text-transform: uppercase; font-weight: 400; }
.nav a:hover{text-decoration: none;padding: 0 0 16px 0;display:block; border-bottom: 2px solid #000000;}

.nav-trigger { display: none; }

@media (max-width: 1023px) {
	.nav { right: 20px; }
	.nav li ~ li { margin-left: 15px; }
}

@media (max-width: 767px) {
	.nav-trigger { position: absolute; right: 13px; top: 13px; display: inline-block; width: 13px; height: 13px; }
	.nav-trigger span { position: absolute; display: block; height: 2px; width: 100%; background: #000; transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s; transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s; }
	.nav-trigger span:nth-child(1) { top: 0; }
	.nav-trigger span:nth-child(2) { top: 5px; }
	.nav-trigger span:nth-child(3) { top: 10px; }

	.nav-trigger.active span { transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s; transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s; }

	.nav-trigger.active span:nth-child(3),
	.nav-trigger.active span:nth-child(1) { top: 5px; }

	.nav-trigger.active span:nth-child(2) { opacity: 0; }
	.nav-trigger.active span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
	.nav-trigger.active span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

	.nav { position: fixed; top: 39px; bottom: 0; left: 0; right: 0; z-index: 10; padding: 20px 10px; background: #fff; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); transition: all .3s; }
	.nav.visible { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
	.nav li { float: none; display: block; }
	.nav li ~ li { margin-left: 0; margin-top: 10px; }
	.nav a:hover{text-decoration: underline;padding: 0;border-bottom: none;}
}

/* ------------------------------------------------------------ *\
	Section About
\* ------------------------------------------------------------ */

/* .section-about { padding: 53px 0 30px; } */

.section-about .section-head { padding: 0 95px 0 65px; margin-bottom: 66px; font-size: 15px; }
.section-about .section-head h3 { margin-bottom: 9px; }
.section-about .section-head:after { content: ''; display: table; clear: both; }

.section-about .section-head i { float: right; margin: -6px 0 0 44px; }
.section-about .section-head-inner { overflow: hidden; padding-right: 47px; border-right: 1px solid #4b4b4b; text-align: right; }
.section-about .section-head p { padding-left: 10px; }

@media (max-width: 767px) {
	.section-about .section-head { padding: 0; text-align: center; }
	.section-about .section-head i { float: none; margin: 0 0 33px; }
	.section-about .section-head-inner { padding-right: 0; border-right: 0 none; text-align: center; }
}

/* ------------------------------------------------------------ *\
	Section Logos
\* ------------------------------------------------------------ */

.section-logos { padding: 28px 0; }

/* ------------------------------------------------------------ *\
	Section Parallax
\* ------------------------------------------------------------ */

.section-parallax { position: relative; padding-top: 44%; }

@media (max-width: 767px) {
	.section-parallax { padding-top: 0; height: 500px; }
}

/* ------------------------------------------------------------ *\
	Section Timeline
\* ------------------------------------------------------------ */

.section-timeline { padding: 50px 0; }
.section-timeline .slider-clip{margin: 0px 0px 50px;padding: 0 0 30px; border-bottom:2px solid #c6c6c6;}


@media (max-width: 767px) {
	.section-timeline .btn-primary {font-size: 18px;padding: 6px 20px 4px; }
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider .slide img { width: auto; display: inline-block; }

.slider .owl-item { -webkit-backface-visibility: visible; backface-visibility: visible; }

.slider .owl-prev,
.slider .owl-next { position: absolute; top: 50%; width: 14px; height: 27px; margin-top: -14px; text-indent: -9999px; z-index: 1000;}

.slider .owl-prev { left: 63px; }
.slider .owl-next { right: 63px; }

.slider .owl-dots { padding-top: 27px; text-align: center; }
.slider .owl-dot { display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 50%; background: #a2a2a2; }
.slider .owl-dot ~ .owl-dot { margin-left: 16px; }
.slider .owl-dot.active { background: #444; }

@media (max-width: 767px) {
	.slider .owl-prev { left: 16px; }
	.slider .owl-next { right: 16px; }
}
.slider .sub-head{
  font-weight: 100;
  font-size: 1rem;
  display: block;
  color: #a5886d;
  margin-bottom: .2rem;
  padding-bottom: .2rem;
  text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
	Slider About
\* ------------------------------------------------------------ */

.slider-about .btn-primary {
  border: 2px solid #b8b8b8;
}

.slider-about .owl-item .slide {
  position: relative;
  padding: 495px 0;
  min-height: 100vh;
}

.slider-about .owl-item  .slide-first-1{
  padding:200px 0;

}
.slider-about .owl-item  .slide-first-1 .slide-image{
  background-size: contain;
}


.slider-about .slide-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.slider-about .slide-content { position: relative; max-width: 360px;padding: 10px 30px; color:#707070;}

.slider-about .owl-dots { position: absolute; bottom: 30px; left: 0; width: 100%; padding-top: 0;z-index: 3; }

.slider-about .slide-logo {
  width: 160px !important;
  padding-bottom: 4rem;
}

.slider-about p {
  font-size: 1rem;
}

.slider .slide-left .slide-content {
  float: left;
  border-right: 2px solid #707070;

}

.slider .slide-right .slide-content {
  float: right;

  border-left: 2px solid #707070;
}

.slider-about .slide-clear .slide-content { color: #ffffff;}
.slider-about .slide-clear h2 { color: #ffffff;}


.slider-about .slide-width .slide-content{

}

.slider .shell .slide-bg-white {
  background-color: #fff;
  border:none;
  padding: 55px 0 30px;
}
.slider .shell .slide-bg-grey {
  background-color: #F3F0F0;
  border:none;
  padding: 55px 0 0;
}
.slider .shell .slide-bg-grey p{
  margin-bottom:1.8em;
}
@media (max-width: 767px) {
  .slider-about .slide-right .slide-content {float: none;}
  .slider .shell .slide-bg{padding: 0;}
  }

@media (max-width: 767px) {
  .slider-about .slide-left .slide-content {float: none;}
  .slider-about .slide { padding-top: 285px; padding-bottom: 0; }
  .slider-about .slide-image { top: 0; bottom: auto; height: 270px; background-position: right 0px top 50%; }
  .slider-about .slide-content { text-align: center;margin: 0 auto; font-weight: 100;}
  .slider-about .owl-dots { position: absolute; bottom: 35px; }
  .slider-about .owl-item .slide{max-height:715px ; padding: 360px 0 140px;}
  .slider-about .owl-item .slide-1{padding: 90px 0 160px 0;}
  .slider-about .slide-stash .slide-content {color: #b8b8b8;}
}
/* ------------------------------------------------------------ *\
	Slider Info
\* ------------------------------------------------------------ */

.slider-info .owl-item .slide {
  position: relative;
  padding: 381px 0 ;
  max-height: 1500px;
}
.slider-info .owl-item  .slide-box-bg{
  padding:263px 0 ;
}
.slider-info .slide-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 900px;
}
.slider-info .slide-content { position: relative; max-width: 360px; padding: 0 25px; }

.slider-info .owl-dots { position: absolute; bottom: 50px; left: 0; width: 100%; padding-top: 0; }

.slider-info .slide-logo {
  width: 160px !important;
  padding-bottom: 4rem;
}

.slider-info h2 {
  font-size: 1.7rem;
  font-weight: 300;
 margin-bottom: .2rem;
  line-height: .9em;
  padding-bottom: .2rem;
   color: #707070;
   font-family: 'Shonar Bangla', 'Times', serif;
}

.slider-info p {
  font-size: 1rem;
  color: #404040;
}



@media (max-width: 767px) {
  .slider-info .slide { padding-top: 285px; padding-bottom: 0; }
  .slider-info .slide-image { top: 0; bottom: auto; height: 270px; background-size: cover;}
  .slider-info .slide-content { text-align: center; max-width:100%; margin: 0 auto; }
  .slider-info .owl-dots { position: absolute; bottom: 5px; }
  .slider-info .owl-item .slide{max-height:715px ; padding: 270px 0 55px;}
  .slider-info .slide img {display: none;}
  .slider .shell .slide-bg-grey{background-color: #fff;}
  .slider .slide-right .slide-content{border: none; padding: 55px 0 0; float: none;}

}

/* ------------------------------------------------------------ *\
	Slider Timeline
\* ------------------------------------------------------------ */

.slider-timeline { text-align: center; }
.slider-timeline .slide-head { position: relative; height: 280px; margin-bottom: 27px; text-align: center; }
.slider-timeline .slide-head img { display: inline-block; width: auto; height: 100%; }
.slider-timeline .slide-head span { position: absolute; left: 0; right: 0; bottom: 13px; font-family: 'Shonar Bangla', 'Times', serif; font-weight: 600; text-transform: uppercase; font-size: 28px; letter-spacing: 0.19em; }

.slider-timeline .slide-meta { position: relative; margin-bottom: 30px; }
.slider-timeline .slide-meta span { position: relative; display: inline-block; padding: 9px 24px 9px; border: 2px solid #b8b8b8; background: #fff; font-family: 'Shonar Bangla', 'Times', serif; font-weight: 400; letter-spacing: .1em; text-transform: uppercase; font-size: 18px; text-transform: uppercase; }
.slider-timeline .slide-meta:before { position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 3px; background: #b8b8b8; margin: auto 0; content: ''; }

.slider-timeline .owl-item:first-child .slide-meta:before { left: 50%; }
.slider-timeline .owl-item:last-child .slide-meta:before { right: 50%; }

.slider-timeline .slide-content { max-width: 524px; padding: 0 12px; margin: 0 auto; text-align: justify; -moz-text-align-last: center; text-align-last: center; font-size: 16px; color: #bbbbba; }
.slider-timeline .slide-content h1 { margin-bottom: 5px; text-align: center; color: #b8b8b8; }

@media (max-width: 767px) {
	.slider-timeline .owl-prev,
	.slider-timeline .owl-next { top: 290px; margin-top: 0; }
  .slider-info .owl-prev,
  .slider-info .owl-next { top: 65%; }
}

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials { margin-bottom: 17px; }
.socials ul { list-style: none outside none; font-size: 0; }
.socials li { display: inline-block; vertical-align: middle; }
.socials li ~ li { margin-left: 25px; }
.socials a { display: block; }

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table {}

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }
