/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { position: relative;min-height:100vh;overflow: hidden; }
.intro-image { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-position: center center; background-repeat: no-repeat; background-size: cover; }

.intro-content {
  position: absolute;
  padding-top: 134px;
  z-index: 2;
  color: #BABABA;
  text-align: center;

  top: 26%;
  display: table;
  margin-left: 10%;
}
.intro-content h1 {
  font-family: $font-family-logo;
  font-size: 6rem;
  letter-spacing: .04em;
  border-bottom: 1px solid #ABABAB;
  line-height: 1em;
  margin-bottom: .1em;
  font-weight: 400;
}
.intro-content p {
  font-family:"proxima-nova", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

@media (max-width: 1024px){
    .intro {min-height: 768px;height: 768px;}
}

$breakpoint-tablet-portrait{

}

$breakpoint-mobile {
	.intro-content { padding: 112px 0 30px; }
  .intro {min-height: 480px;}
}

