/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.btn-primary { padding: 6px 20px 4px; border: 1px solid #515151; font-family: $font-family-serif; font-size: 18px; line-height:18px; letter-spacing: 0.15em; font-weight: 600; }
.btn-primary:hover { text-decoration: none; }


/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }

$breakpoint-mobile {
	.btn-primary { padding: 5px 17px 3px; font-size: 10px;line-height: 10px; }
}
