/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.btn-primary { padding: 6px 20px 0; border: 1px solid #1d1d1d; font-family: $font-family-serif; font-size: 18px; line-height: 1.3; letter-spacing: 0.1em; padding-bottom: .3em; }
.btn-primary:hover { text-decoration: none; }


/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }

$breakpoint-mobile {
	.btn-primary { padding: 5px 17px 0; font-size: 10px; }
}
