/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { position: relative; min-height: 100vh; overflow: hidden; }
.intro-image { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-position: center center; background-repeat: no-repeat; background-size: cover; }

.intro-content { position: relative; z-index: 2; padding-top: 134px; color: #fff; text-align: center; }

$breakpoint-mobile {
	.intro-content { padding: 112px 0 30px; }
}