/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider .slide img { width: auto; display: inline-block; }

.slider .owl-item { backface-visibility: visible; }

.slider .owl-prev,
.slider .owl-next { position: absolute; top: 50%; width: 14px; height: 27px; margin-top: -14px; text-indent: -9999px; z-index: 1000;}

.slider .owl-prev { left: 63px; }
.slider .owl-next { right: 63px; }

.slider .owl-dots { padding-top: 27px; text-align: center; }
.slider .owl-dot { display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 50%; background: #a2a2a2; }
.slider .owl-dot ~ .owl-dot { margin-left: 16px; }
.slider .owl-dot.active { background: #444; }

$breakpoint-mobile {
	.slider .owl-prev { left: 16px; }
	.slider .owl-next { right: 16px; }
}
.slider .sub-head{
  font-weight: 100;
  font-size: 1rem;
  display: block;
  color: #a5886d;
  margin-bottom: .2rem;
  padding-bottom: .2rem;
  text-transform: uppercase;
}

/* ------------------------------------------------------------ *\
	Slider About
\* ------------------------------------------------------------ */

.slider-about .btn-primary {
  border: 2px solid #b8b8b8;
}

.slider-about .owl-item .slide {
  position: relative;
  padding: 495px 0;
  max-height: 990px;
}
.slider-about .owl-item  .slide-first-1{
  padding:200px 0;

}
.slider-about .owl-item  .slide-first-1 .slide-image{
  -webkit-background-size: contain;
  background-size: contain;
}


.slider-about .slide-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.slider-about .slide-content { position: relative; max-width: 360px;padding: 10px 30px; color:#707070; border-left: 1px solid #707070;}

.slider-about .owl-dots { position: absolute; bottom: 30px; left: 0; width: 100%; padding-top: 0;z-index: 3; }

.slider-about .slide-logo {
  width: 160px !important;
  padding-bottom: 4rem;
}

.slider-about h2 {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: .2rem;
  line-height: .9em;
  padding-bottom: .2rem;
  color: #707070;
  font-family: $font-family-logo;
}

.slider-about p {
  font-size: 1rem;
}

.slider .slide-left .slide-content {
  float: left;
  border-right: 2px solid #707070;

}

.slider .slide-right .slide-content {
  float: right;

  border-left: 2px solid #707070;
}

.slider-about .slide-clear .slide-content { color: #ffffff;}
.slider-about .slide-clear h2 { color: #ffffff;}


.slider-about .slide-width .slide-content{

}

.slider .shell .slide-bg-white {
  background-color: #fff;
  border:none;
  padding: 55px 0 30px;
}
.slider .shell .slide-bg-grey {
  background-color: #F3F0F0;
  border:none;
  padding: 55px 0 0;
}
.slider .shell .slide-bg-grey p{
  margin-bottom:1.8em;
}
$breakpoint-mobile {
  .slider-about .slide-right .slide-content {float: none;}
  .slider .shell .slide-bg{padding: 0;}
  }

$breakpoint-mobile {
  .slider-about .slide-left .slide-content {float: none;}
  .slider-about .slide { padding-top: 285px; padding-bottom: 0; }
  .slider-about .slide-image { top: 0; bottom: auto; height: 270px; background-position: right 0px top 50%; }
  .slider-about .slide-content { text-align: center;margin: 0 auto; font-weight: 100;}
  .slider-about .owl-dots { position: absolute; bottom: 35px; }
  .slider-about .owl-item .slide{max-height:715px ; padding: 360px 0 140px;}
  .slider-about .owl-item .slide-1{padding: 90px 0 160px 0;}
  .slider-about .slide-stash .slide-content {color: #b8b8b8;}
}
/* ------------------------------------------------------------ *\
	Slider Info
\* ------------------------------------------------------------ */

.slider-info .owl-item .slide {
  position: relative;
  padding: 381px 0 ;
  max-height: 1500px;
}
.slider-info .owl-item  .slide-box-bg{
  padding:263px 0 ;
}
.slider-info .slide-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 900px;
}
.slider-info .slide-content { position: relative; max-width: 360px; padding: 0 25px; }

.slider-info .owl-dots { position: absolute; bottom: 50px; left: 0; width: 100%; padding-top: 0; }

.slider-info .slide-logo {
  width: 160px !important;
  padding-bottom: 4rem;
}

.slider-info h2 {
  font-size: 1.7rem;
  font-weight: 300;
 margin-bottom: .2rem;
  line-height: .9em;
  padding-bottom: .2rem;
   color: #707070;
   font-family: $font-family-logo;
}

.slider-info p {
  font-size: 1rem;
  color: #404040;
}



$breakpoint-mobile {
  .slider-info .slide { padding-top: 285px; padding-bottom: 0; }
  .slider-info .slide-image { top: 0; bottom: auto; height: 270px; background-size: cover;}
  .slider-info .slide-content { text-align: center; max-width:100%; margin: 0 auto; }
  .slider-info .owl-dots { position: absolute; bottom: 5px; }
  .slider-info .owl-item .slide{max-height:715px ; padding: 270px 0 55px;}
  .slider-info .slide img {display: none;}
  .slider .shell .slide-bg-grey{background-color: #fff;}
  .slider .slide-right .slide-content{border: none; padding: 55px 0 0; float: none;}

}

/* ------------------------------------------------------------ *\
	Slider Timeline
\* ------------------------------------------------------------ */

.slider-timeline { text-align: center; }
.slider-timeline .slide-head { position: relative; height: 280px; margin-bottom: 27px; text-align: center; }
.slider-timeline .slide-head img { display: inline-block; width: auto; height: 100%; }
.slider-timeline .slide-head span { position: absolute; left: 0; right: 0; bottom: 13px; font-family: $font-family-serif; font-weight: 600; text-transform: uppercase; font-size: 28px; letter-spacing: 0.19em; }

.slider-timeline .slide-meta { position: relative; margin-bottom: 30px; }
.slider-timeline .slide-meta span { position: relative; display: inline-block; padding: 9px 24px 9px; border: 2px solid #b8b8b8; background: #fff; font-family: $font-family-serif; font-weight: 400; letter-spacing: .1em; text-transform: uppercase; font-size: 18px; text-transform: uppercase; }
.slider-timeline .slide-meta:before { position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 3px; background: #b8b8b8; margin: auto 0; content: ''; }

.slider-timeline .owl-item:first-child .slide-meta:before { left: 50%; }
.slider-timeline .owl-item:last-child .slide-meta:before { right: 50%; }

.slider-timeline .slide-content { max-width: 524px; padding: 0 12px; margin: 0 auto; text-align: justify; text-align-last: center; font-size: 16px; color: #bbbbba; }
.slider-timeline .slide-content h1 { margin-bottom: 5px; text-align: center; color: #b8b8b8; }

$breakpoint-mobile {
	.slider-timeline .owl-prev,
	.slider-timeline .owl-next { top: 290px; margin-top: 0; }
  .slider-info .owl-prev,
  .slider-info .owl-next { top: 65%; }
}
