/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider .slide img { width: auto; display: inline-block; }

.slider .owl-item { backface-visibility: visible; }

.slider .owl-prev,
.slider .owl-next { position: absolute; top: 50%; width: 14px; height: 27px; margin-top: -14px; text-indent: -9999px; }

.slider .owl-prev { left: 63px; }
.slider .owl-next { right: 63px; }

.slider .owl-dots { padding-top: 27px; text-align: center; }
.slider .owl-dot { display: inline-block; vertical-align: top; width: 6px; height: 6px; border-radius: 50%; background: #a2a2a2; }
.slider .owl-dot ~ .owl-dot { margin-left: 16px; }
.slider .owl-dot.active { background: #444; }

$breakpoint-mobile {
	.slider .owl-prev { left: 16px; }
	.slider .owl-next { right: 16px; }
}

/* ------------------------------------------------------------ *\
	Slider About
\* ------------------------------------------------------------ */

.slider-about { text-align: center; }
.slider-about .slide-content { max-width: 290px; margin: 0 auto; font-size: 1em; }

/* ------------------------------------------------------------ *\
	Slider Info
\* ------------------------------------------------------------ */

.slider-info .slide { position: relative; padding: 230px 0 220px; }
.slider-info .slide-image { position: absolute; left: 0; top: 0; bottom: 0; right: 0; background-repeat: no-repeat; background-position: top right; background-size: cover; }
.slider-info .slide-content { position: relative; max-width: 300px; }

.slider-info .owl-dots { position: absolute; bottom: 30px; left: 0; width: 100%; padding-top: 0; }

$breakpoint-mobile {
	.slider-info .slide { padding-top: 285px; padding-bottom: 0; }
	.slider-info .slide-image { top: 0; bottom: auto; height: 270px; background-position: right -80px top 50%; }

	.slider-info .slide-content { text-align: center; max-width: 240px; margin: 0 auto; }

	.slider-info .owl-dots { position: absolute; top: 250px; }
}

/* ------------------------------------------------------------ *\
	Slider Timeline
\* ------------------------------------------------------------ */

.slider-timeline { text-align: center; }
.slider-timeline .slide-head { position: relative; height: 280px; margin-bottom: 27px; text-align: center; }
.slider-timeline .slide-head img { display: inline-block; width: auto; height: 100%; }
.slider-timeline .slide-head span { position: absolute; left: 0; right: 0; bottom: 13px; font-family: $font-family-serif; text-transform: uppercase; font-size: 28px; letter-spacing: 0.19em; }

.slider-timeline .slide-meta { position: relative; margin-bottom: 30px; }
.slider-timeline .slide-meta span { position: relative; display: inline-block; padding: 9px 24px 9px; border: 2px solid #343434; background: #fff; font-family: $font-family-serif; text-transform: uppercase; font-size: 14px; letter-spacing: 0.21em; text-transform: uppercase; }
.slider-timeline .slide-meta:before { position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 3px; background: #686868; margin: auto 0; content: ''; }

.slider-timeline .owl-item:first-child .slide-meta:before { left: 50%; }
.slider-timeline .owl-item:last-child .slide-meta:before { right: 50%; }

.slider-timeline .slide-content { max-width: 524px; padding: 0 12px; margin: 0 auto; text-align: justify; text-align-last: center; font-size: 16px; color: #bbbbba; }
.slider-timeline .slide-content h1 { margin-bottom: 5px; text-align: center; color: #000; }

$breakpoint-mobile {
	.slider-timeline .owl-prev,
	.slider-timeline .owl-next { top: 290px; margin-top: 0; }
}
