/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 56px; padding-top: 11px; border-bottom: 1px solid #d9d9d9; background: #fff; color: #515151; text-align: center; }
.header .logo { position: absolute;  left: 60px; top:0;}

$breakpoint-tablet-portrait {
	.header .logo { left: 20px; }
}

$breakpoint-mobile {
	.header { height: 39px; padding-top: 10px; }
	.header .logo { left: 9px; top: 0px;height: 47px;  transform-origin: 0 0; transform: scale(.8); }
}
