/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {}
.video-wrap{position: relative; width: 100%; height:100%;margin-top: 56px;background: #000000; text-align: center;line-height: 0;}
.video-wrap video{width: 100%; height: 100%;}
.video-overlay{background: rgba(0,0,0,.5); position: absolute; width: 100%;height: 100%;}
.full-video{position: absolute;}
.play-button{position: absolute;height: 150px;top: 0;bottom: 0;left: 0;right: 0;margin: auto;display: block;z-index: 2; font-size: 1rem;line-height: 1rem;color: #ffffff;}
.play-button strong{display:block ;font-family:'Shonar Bangla', 'Times', serif; font-weight: 100;letter-spacing: 0.5rem; font-size:3.5rem ; line-height: 3.5rem;}
.play-button .watch-video{cursor: pointer; display: inline-block; margin: 30px auto; border:1px solid #ffffff; padding: 10px 20px;text-transform: uppercase;font-size: 100;letter-spacing: 2px;}
.anchor{display: none; height: 0;}

.video-overlay h1 {
  position: relative;
  top: 40%;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  height: auto;
}

.play-button-circle {
  cursor: pointer;
  z-index: 9999;
  position: relative;
  opacity: 0.6;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  left: 50%;
  transform: translateY(-50%);
  top: 50%;
}

.play-button-circle:hover {
  opacity: 1;
}

.play-button-triangle-container {
  width: 20px;
  height: 20px;
  position: relative;
  border-left: 1px solid #fff;
  overflow: hidden;
  top: 10px;
  left: 17px;
  transform: scale(1.2,0.9);
}

.play-button-triangle-inner {
  width: 20px;
  height: 20px;
  border-style: solid;
  transform: rotate(45deg);
  border-width: 1px 1px 0 0;
  position:absolute;
  left: -14px;
  border-color: #fff;
}

span.aura-updates {
  text-decoration: underline;
  font-family: $font-family-serif;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  color: black;
  cursor: pointer;
}

.make-smoking-beautiful p {
  color: black;
  font-size: 1.4em;
  max-width: 330px;
}

.make-smoking-beautiful h1 {
  color: black;
  font-size: 3.9rem;
  letter-spacing: 0.05em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.make-smoking-beautiful h2 {
  color: black;
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: 0.05em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.make-smoking-beautiful .image {
  width: 49%;
  float: left;
}

.make-smoking-beautiful .image img {
  min-height: 500px;
  display:block !important;
  margin: 0 auto;
  height: 80vh;
}

.make-smoking-beautiful .content {
  width: 49%;
  float: right;
  position: relative;
  transform: translateY(-50%);
  margin-top: 40vh;
}


section.section-about {
  background-color: #F6F6F7;
  box-shadow: inset 100px 0 100px #dbdbdb;
}

@media (max-width: 600px){
  .video-overlay h1 {
    font-size: 2rem;
  }
}

@media (max-width: 380px){
  .video-overlay h1 {
    font-size: 1.6rem;
  }
}

$breakpoint-mobile{
	.play-button strong{font-size: 2rem;line-height: 1.8rem;}
    .video-wrap{margin-top: 39px;}

  .make-smoking-beautiful h1 {
    text-align: center;
  }

  .make-smoking-beautiful h2 {
    text-align: center;
    padding-top: 30px;
  }

  .make-smoking-beautiful .image {
    width: 100%;
    float: left;
  }

  .make-smoking-beautiful .content {
    width: 100%;
    float: left;
    transform: none;
    margin-top: 0px;
  }

  .make-smoking-beautiful .wrapper {
    width: 100%;
  }

  .make-smoking-beautiful p {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .make-smoking-beautiful h1 {
    font-size: 3.3rem;
  }

  .make-smoking-beautiful h2 {
    font-size: 2.2rem;
  }
}
