/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {}
.video-wrap{position: relative; width: 100%; height:100%;margin-top: 56px;background: #000000; text-align: center;line-height: 0;}
.video-wrap video{width: 100%; height: 100%;}
.video-overlay{background: rgba(0,0,0,.5); position: absolute; width: 100%;height: 100%;}
.full-video{position: absolute;}
.play-button{position: absolute;height: 150px;top: 0;bottom: 0;left: 0;right: 0;margin: auto;display: block;z-index: 2; font-size: 1rem;line-height: 1rem;color: #ffffff;}
.play-button strong{display:block ;font-family:'Shonar Bangla', 'Times', serif; font-weight: 100;letter-spacing: 0.5rem; font-size:3.5rem ; line-height: 3.5rem;}
.play-button .watch-video{cursor: pointer; display: inline-block; margin: 30px auto; border:1px solid #ffffff; padding: 10px 20px;text-transform: uppercase;font-size: 100;letter-spacing: 2px;}
.anchor{display: none; height: 0;}

.play-button-circle {
  cursor: pointer;
  z-index: 9999;
  position: relative;
  opacity: 0.6;
  border-width: 2.083px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  left: 50%;
  transform: translateY(-50%);
  top: 50%;
}

.play-button-triangle-container {
  width: 32px;
  height: 32px;
  position: relative;
  border-left: 2px solid #fff;
  overflow: hidden;
  top: 17px;
  left: 28px;
}

.play-button-triangle-inner {
  width: 32px;
  height: 32px;
  border-style: solid;
  transform: rotate(45deg);
  border-width: 2px 2px 0 0;
  position:absolute;
  left: -22px;
  border-color: #fff;
}

span.aura-updates {
  text-decoration: underline;
  font-family: $font-family-serif;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  color: black;
}

.make-smoking-beautiful p {
  color: black;
}

.make-smoking-beautiful h1 {
  color: black;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  margin-top: -10px;
}

.make-smoking-beautiful h2 {
  color: black;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 0.05em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.make-smoking-beautiful .image {
  width: 49%;
  float: left;
  width: 50%;
}

.make-smoking-beautiful .image img {
  max-height: 400px;
  display:block !important;
  margin: 0 auto;
}

.make-smoking-beautiful .content {
  width: 49%;
  float: right;
}

section.section-about {
  background-color: #F6F6F7;
  box-shadow: inset 100px 0 100px #dbdbdb;
}

$breakpoint-mobile{
	.play-button strong{font-size: 2rem;line-height: 1.8rem;}
    .video-wrap{margin-top: 39px;}
}
