$font-size-base:					13px;
$line-height-base:					1.3;


$shell-max-width:					830px;

$font-family-sans-serif:			'proxima-nova', sans-serif;
$font-family-serif:					'Shonar Bangla', 'Times', serif;
$font-family-logo:					'Shonar Bangla', 'Times', serif;

$breakpoint-small-desktop:			@media (max-width: 1200px);
$breakpoint-tablet-portrait:		@media (max-width: 1023px);
$breakpoint-mobile:					@media (max-width: 767px);
$breakpoint-mobile-portrait:		@media (max-width: 479px);
$retina:							@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
